@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

body {
	
	background-color: #000000;
	padding: 0;
	margin: 0;
}

li, a, button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header	{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10%;
	background-color: #24252a;
}

.logo {
	cursor: pointer;
	width:60px;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: #0088a9;
}

button {
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	color: rgba(0,136,169,0.8)
}